<div class="dashboard">
  <h1>Subjects</h1>
  <div class="card-holder animated fadeInDown">
      <div class="card" id="addSubject" (click)="showAddNewSubjectDialog()">
          <h3>Add Subject</h3>
          <div class="info">
              <div class="icon">
                  <i class="fa-solid fa-plus"></i>
              </div>
          </div>
      </div>
      <div class="card" id="assignSubject" (click)="showAssignSubjectToStudentDialog()">
          <h3>Assign Subject To Student</h3>
          <div class="info">
              <div class="icon">
                  <i class="fa-solid fa-person-circle-plus"></i>
              </div>
          </div>
      </div>
  </div>
</div>

<app-create-subject-dialog (subjectCreated)="createSubject($event)"></app-create-subject-dialog>
<app-assign-subject-dialog (subjectAssigned)="assignSubjectToStudent($event)"></app-assign-subject-dialog>
