<div class="defaultLayout">
  <div class="upperBar">
      <div class="holder">
          <span class="icon" id="icon" (click)="handleIconClick()">
            <i class="fa-solid fa-bars"></i>
          </span>
          <span class="settingsHolder">
              <h4>Adminstrator</h4>
              <span class="icon" id="icon" (click)="ChangeToEnglish()">
                EN
              </span>
              <span class="icon" id="icon" (click)="ChangeToArabic()">
                AR
              </span>
          </span>
      </div>
  </div>
  <div class= "{{isAsideOpen ? 'aside closed' : 'aside'}}" id='aside'>
      <ul>
          <li id="header">
            <span class="icon"><i class="fa-solid fa-school"></i></span>
            <span class="title">School System</span>
          </li>
          <li routerLinkActive="selected">
            <a routerLink="students"  class="nav-link"><i class="fa-solid fa-people-group"></i>Students</a>
          </li>
          <li routerLinkActive="selected">
            <a routerLink="subjects" class="nav-link"><i class="fa-solid fa-book-open"></i>Subjects</a>
          </li>
          <li routerLinkActive="selected">
            <a routerLink="marks" class="nav-link"><i class="fa-solid fa-clipboard"></i>Marks</a>
          </li>
          <!-- <li routerLinkActive="selected">
            <a routerLink="my-account" class="nav-link"><i class="fa-solid fa-gear"></i>My account</a>
          </li> -->
          <li>
              <a (click)="logout()" class="nav-link"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
          </li>
      </ul>
  </div>
  <div class="{{isPageContentOpen ? 'pageContent' : 'pageContent opened'}}" id="content">
      <router-outlet></router-outlet>
  </div>
</div>
